<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kidsMansion</display-name>
  <welcome-file-list>
    <welcome-file>/JSP/index.html</welcome-file>
   </welcome-file-list>
   
   <servlet>
         <servlet-name>controllerServlet</servlet-name>
         <servlet-class>kidsMansion.controllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>controllerServlet</servlet-name>
         <url-pattern>/controllerServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>paymentServlet</servlet-name>
         <servlet-class>kidsMansion.paymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>paymentServlet</servlet-name>
         <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>chequeServlet</servlet-name>
         <servlet-class>kidsMansion.chequeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>chequeServlet</servlet-name>
         <url-pattern>/chequeServlet</url-pattern>
    </servlet-mapping>
    
      <servlet>
         <servlet-name>expenseServlet</servlet-name>
         <servlet-class>kidsMansion.expenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>expenseServlet</servlet-name>
         <url-pattern>/expenseServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>mailSenderServlet</servlet-name>
         <servlet-class>kidsMansion.mailSenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>mailSenderServlet</servlet-name>
         <url-pattern>/mailSenderServlet</url-pattern>
    </servlet-mapping>
    
      <servlet>
         <servlet-name>dailyReportServlet</servlet-name>
         <servlet-class>kidsMansion.dailyReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>dailyReportServlet</servlet-name>
         <url-pattern>/dailyReportServlet</url-pattern>
    </servlet-mapping>
    
    
</web-app>